---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Yazıldığı tarih: {{ page.date | date: "%d " }} {% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}Ocak
  {% when '2' %}Şubat
  {% when '3' %}Mart
  {% when '4' %}Nisan
  {% when '5' %}Mayıs
  {% when '6' %}Haziran
  {% when '7' %}Temmuz
  {% when '8' %}Auğustos
  {% when '9' %}Eylül
  {% when '10' %}Ekim
  {% when '11' %}Kasım
  {% when '12' %}Aralık
{% endcase %} {{ page.date | date: " %Y" }}
  </div>

  {% include disqus.html %}
</article>
